<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>piglatin</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p><%= @piglatinizer.piglatinize(@user_text) %></p>
  </body>
</html>
