

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Latin</title>
  </head>

  <body>
    <h1>Latinized</h1>

    <h2>Original String: <%= @phrase %></h2>

    <h2>String in Pig Latin: <%= @latinized.piglatinize(@phrase) %></h2>
  </body>
</html>
