<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/pig_latin">
      <p>Enter your phrase: <textarea name="user_phrase"></textarea></p>
      <input type="Submit" name="submit" value="Submit">
    </form>
  </body>
</html>
